* {
    box-sizing: border-box;
    color: rgb(211, 211, 211);
}

body {
    background-color: rgb(49, 49, 49);
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    padding-top: 2rem;
    margin-left: calc(var(--menu-width) + 2rem);
    flex-wrap: wrap;
}

.main div {
    display: flex;
    flex-direction: column;
    height: 15rem;
    padding: 1rem;
}

.main div img {
    height: 160px;
    width: 240px;
    border-radius: 10px;
}

.hide {
    display: none;
}